.mainwork{
    margin-top: 10px;
    font-size: large;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
h1{
    text-align: center;
    
}
.hiw1{
 text-align: justify;  
 font-size: x-large; 
 color: aliceblue;
}
.hiw2{
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    text-align: justify;
    background-color:white;

}
.hiw3{
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    text-align: justify;
    background-color:white;

}
.hiw4{
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    text-align: justify;
    background-color:white;

}
.hiw5{
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    text-align: justify;
    background-color: white;

}
.hiw6{
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    text-align: justify;
    background-color:white;

}